.Comfortaa {
    font-family: 'Comfortaa', sans-serif
}

.Kanit {
    font-family: 'Kanit', sans-serif
}

body {
    background: -webkit-linear-gradient(left, rgb(194, 0, 152), #F08080);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(194, 0, 152), #F08080);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(194, 0, 152), #F08080);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(194, 0, 152), #F08080);
    /* Standard syntax */
}

.meowflix {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.loginpage {
    margin-top: 42px;
}

.logo {
    border: 5px solid white;
    border-radius: 360px;
}

.form-group {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.form-control {
    font-weight: bold;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    height: 50px;
}

input[type=text]:focus {
    color: white;
}

input[type="text"] {
    background: -webkit-linear-gradient(left, rgb(194, 0, 152), #F08080);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(194, 0, 152), #F08080);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(194, 0, 152), #F08080);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(194, 0, 152), #F08080);
    /* Standard syntax */
}

.form-control::-webkit-input-placeholder {
    color: white;
}

.form-control::-moz-placeholder {
    color: white;
}

.form-control:-ms-input-placeholder {
    color: white;
}

.form-control:placeholder {
    color: white;
}

.btn-login {
    border: 0;
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    border-radius: 30px;
}

.btngo {
    font-weight: bold;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    height: 60px;
    background: -webkit-linear-gradient(left, rgb(194, 0, 152), #F08080);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(194, 0, 152), #F08080);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(194, 0, 152), #F08080);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(194, 0, 152), #F08080);
    /* Standard syntax */
}

.btnback {
    color: white;
    padding: 0;
    margin-left: 30px;
}

.registerText {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}